Downpour/Downpour/bin/WindowsGL/Debug/Downpour.vshost.exe.manifest
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache