Downpour/Downpour/bin/WindowsGL/Debug/Downpour.vshost.exe.manifest
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/bin/WindowsGL/Debug/Downpour.exe
Downpour/Downpour/bin/WindowsGL/Debug/Downpour.pdb
Downpour/Downpour/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Downpour/Downpour/obj/x86/Debug/Downpour.csproj.FileListAbsolute.txt
Downpour/Downpour/obj/x86/Debug/Downpour.csprojResolveAssemblyReference.cache
Downpour/Downpour/obj/x86/Debug/Downpour.exe
Downpour/Downpour/obj/x86/Debug/Downpour.pdb
Downpour/Downpour.v11.suo
Downpour/Downpour/Downpour.csproj